<template>
  <v-card class="mx-auto" max-width="400">
    <v-card-title class="min-h">{{ data.label }}</v-card-title>
    <v-img
      class="white--text align-end mr-2 mr-2 mt-2 mb-2"
      height="200px"
      :src="data.media"
    />

    <v-card-text class="text--primary">
      <div>{{ data.description }}</div>
    </v-card-text>

    <v-card-text class="text--primary">
      <div>{{ data.price }} €</div>
    </v-card-text>
    <v-card-actions>
      <!-- <v-btn color="orange" text> Ajouter </v-btn> -->

      <router-link
        :to="{
          name: 'details',
          params: { id: data.id },
          props: { details: data },
        }"
      >
        <v-btn color="orange" text> Découvrir </v-btn></router-link
      >
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: ["data"],
};
</script>

<style scoped>
.min-h {
  min-height: 100px;
}
a {
  text-decoration: none;
}
</style>