<template>
  <div>
    <v-container class="grey lighten-5 mb-6">
      <v-row no-gutters justify="center" style="height: 150px">
        <v-col
          md="3"
          lg="3"
          sm="5"
          class="mr-2 mr-2 mt-2 mb-2"
          v-for="article in articles"
          :key="article.id"
        >
          <Article :data="article" />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import Article from "../components/List/Article.vue";
export default {
  components: { Article },
  data: () => ({
    articles: [
      {
        id: 1,
        price: 10.5,
        label: "Les robots domineront le monde ?",
        media: "https://picsum.photos/200",
        description:
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
      },
      {
        id: 2,
        price: 15.5,
        label: "Les mystères de l'étranger pale",
        media: "https://picsum.photos/200",
        description:
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
      },
      {
        id: 3,
        price: 7.3,
        label: "Les plaines brisées",
        media: "https://picsum.photos/200",
        description:
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
      },
      {
        id: 4,
        price: 9.5,
        label: "Le héros des siècles",
        media: "https://picsum.photos/200",
        description:
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
      },
      {
        id: 5,
        price: 22.5,
        label: "Les archives de roshar",
        media: "https://picsum.photos/200",
        description:
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
      },
      {
        id: 6,
        price: 10.5,
        label: "Adonalsium",
        media: "https://picsum.photos/200",
        description:
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
      },
    ],
  }),
};
</script>