<template>
  <v-card class="mx-auto" max-width="800">
    <v-card-title class="min-h">{{ article.label }}</v-card-title>
    <v-img
      class="white--text align-end mr-2 mr-2 mt-2 mb-2"
      height="200px"
      :src="article.media"
    />

    <v-card-text class="text--primary">
      <div>{{ article.description }}</div>
    </v-card-text>

    <v-card-text class="text--primary">
      <div>{{ article.price }} €</div>
    </v-card-text>
    <v-spacer />
    <v-textarea
      name="input-7-1"
      filled
      label="Commentaire"
      auto-grow
      value=""
      v-model="createdComment"
    ></v-textarea>
    <v-btn color="primary" text @click="addComment"> Ajouter </v-btn>
    <v-spacer />
    <v-card-title class="min-h">Listes des commentaires</v-card-title>

    <v-card-text
      v-for="comment in article.comments"
      :key="comment.id"
      class="text--primary"
    >
      <div>
        <strong>Par : {{ comment.author }}</strong>
      </div>
      <div>
        <strong>Le : {{ comment.created_at }}</strong>
      </div>
      <!-- <v-btn color="primary" text> Modifier </v-btn> -->
      <v-btn color="red" text @click="deleteComment(comment.id)">
        Supprimer
      </v-btn>
      <div>{{ comment.text }}</div>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  props: ["id"],
  methods: {
    addComment() {
      this.article.comments.push({
        id: Math.floor(Math.random() * 10000),
        author: "Rémi",
        created_at: "28/08/2021",
        text: this.createdComment,
      });
      this.createdComment = "";
    },
    // updateComment(id) {},
    deleteComment(id) {
      this.article.comments = this.article.comments.filter(function (obj) {
        return obj.id !== id;
      });
    },
  },
  data: () => ({
    createdComment: "",
    article: {
      id: 1,
      price: 10.5,
      label: "Les robots domineront le monde ?",
      media: "https://picsum.photos/800",
      description:
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
      comments: [
        {
          id: 1,
          author: "Roberto",
          created_at: "10/12/2021",
          text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
        },
        {
          id: 2,
          author: "Pablo",
          created_at: "10/12/2021",
          text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
        },
        {
          id: 3,
          author: "Esteban",
          created_at: "10/12/2021",

          text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
        },
        {
          id: 4,
          author: "Lucio",
          created_at: "10/12/2021",

          text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
        },
        {
          id: 5,
          author: "Mario",
          created_at: "10/12/2021",

          text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
        },
      ],
    },
  }),
};
</script>

<style scoped>
.min-h {
  min-height: 100px;
}
a {
  text-decoration: none;
}
</style>