<template>
  <v-card class="mx-auto" max-width="800">
    <v-card-title class="min-h"
      >Bienvenue sur votre page d'accueil</v-card-title
    >

    <v-card-text class="text--primary">
      <div>Test technique pour les développeurs Angular, React ou Vuejs</div>
    </v-card-text>
    <div class="d-flex align-center ml-2">
      <router-link to="/articles">
        <v-btn color="orange" text>Liste des articles </v-btn>
      </router-link>
    </div>
  </v-card>
</template>

<script>
export default {
  name: "Home",
};
</script>
<style scoped>
a {
  text-decoration: none;
}
</style>