<template>
  <v-app>
    <v-app-bar app color="dark" dark>
      <div class="d-flex align-center">
        <span class="mr-2">RobotDemoApp</span>
      </div>
      <div class="d-flex align-center ml-2">
        <router-link to="/">
          <v-btn color="orange" text>Accueil </v-btn>
        </router-link>
      </div>
      <div class="d-flex align-center ml-2">
        <router-link to="/articles">
          <v-btn color="orange" text>Liste des articles </v-btn>
        </router-link>
      </div>
    </v-app-bar>

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "App",

  data: () => ({
    //
  }),
};
</script>

<style scoped>
a {
  text-decoration: none;
}
</style>